h5 {
  margin: 0;
  font-size: 1em;
}

.monospace {
  font-family: monospace;
}

.codeline {
  margin: 0;
}

.prev-filename {
  color: #666;
  font-size: 0.83em;
  margin: 0;
}

.singleFileContainer {
  margin: 3% 0;
}

.singleFileContainer > div {
  margin-top: 3%;
}

.singleFileContainer > div > p {
  padding: 0 3%;
}

.SingleRepoView > section {
  margin: 5%;
}

.SingleRepoView > section > div {
  margin: 5%;
}

.MainView, .RepoView, .SingleRepoView, .SingleCommitView {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  flex-direction: column;
}
.MainView > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SingleRepoView h4 {
  display: flex;
  justify-content: center;
}
