.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.monospace {
  font-family: monospace;
}

.codeline {
  margin: 0;
}

.prev-filename {
  color: #666;
  font-size: 0.83em;
  margin: 0;
}

.singleFileContainer {
  margin: 3% 0;
}

.singleFileContainer > div {
  margin-top: 3%;
}

h5 {
  margin: 0;
  font-size: 1em;
}

.SingleRepoView > section {
  margin: 5%;
}

.SingleRepoView > section > div {
  margin: 5%;
}